@font-face {
    font-family: 'yekan';
    src: url("../fonts/Yekan.eot");
    src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/Yekan.woff") format("woff"), url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.svg#BYekan") format("svg");
    font-weight: normal;
    font-style: normal
}
body {
	background-image: url('images/1.jpg');
    background-color: #eee;
    font-family: 'yekan', serif;
    background-position : center -50px;
    background-repeat: no-repeat;
}

*[role="form"] {
    max-width: 530px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -200px;
    margin-left: -120px;
    background-color: #fff;
    border-radius: 0.3em;
    Border-radius: 40px;
}
*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

